@using ProjectManagement.Models;
@using Microsoft.AspNetCore.Identity;


@{
  Layout = "_Layout";
}


@{
    ViewData["Title"] = "Projects Page";
}

<br><br><br>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="~/projects">Projects</a></li>
  <li role="presentation"><a href="~/explore">Explore</a></li>
  <li role="presentation"><a href="~/myprofile">My Profile</a></li>
</ul>

<h1>Add a new project </h1>

<form action='/customers' method='post'>

<label for='projectName'>Name of project:</label>
<input id='projectName' name='projectName' type='text'>

<label for='userName'>Founding user name:</label>
<input id='userName' name='userName' type='text'>

<label for='tags'>Starter tags (can be added later):</label>
<input id='tags' name='tags' type='text'>
 <button type='submit'>Add customer</button>
</form>
