#navlogo {
  margin-top: -10px;
  height: 40px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  /* text-transform: uppercase; */
}

#header {
  position: relative;
  text-align: center;
}

#header h1 {
  font-size: 50px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#page-header {
  margin-top: 100px;
}

#explore-header{
  margin-top: 100px;
}

.project-container {
  background: #eee;
  margin-top: 20px;
  padding-bottom: 30px;
}

.explore-container {
  background: #eee;
  border-bottom: 1px solid #888;
  padding-bottom: 40px;
  box-shadow: 5px 5px 10px #888888;
  margin-top: 20px;
}

.project-header {
  background: #101010;
  color: #9d9d9d;
  text-align: center;
  padding: 5px;
}

.project-details {
  margin: 0px 20px;
  padding: 10px;
  background: #fff;
  border: 1px solid lightgray;
}

.explore-details{
  margin: 0px 20px;
  padding: 5px;
  background: #fff;
  border: 1px solid lightgray;
}

.status-container {
  margin: 0px 20px;
}

.column {
  border-radius: 4px;
  padding: 10px;
  margin: 0px -5px;
  box-shadow: 2px 2px 3px black;
}

.column--color-blue {
  background-color: #004d99;
}

.column--color-yellow {
  background-color: #ffcc00;
}

.column--color-red {
  background-color: #ff791f;
}

.column--color-green {
  background-color: #008060;
}

.task-category {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: -3px 0px 20px 0px;
  text-align: center;
  border: 1px solid #9d9d9d;
  box-shadow: 2px 2px 3px black;
}

.task-card:hover {
  cursor: grab;
}

.task-card:active {
  cursor: grabbing;
}

p.form-control {
  color: black;
  height: auto;
}

#join{
  float: right;
  margin-top: 8px;
  background-color: #101010;
  color: lightgray;
  font-family: 'Karla', sans-serif;
}

.btn.create{
  font-family: 'Karla', sans-serif;
  background-color:#008060;
  color: white;
  margin-top: 10px;
}
.btn#edit{
  font-family: 'Karla', sans-serif;
  background-color: #004d99;
  color: white;
  margin-top: 10px;
}
.btn#delete{
  font-family: 'Karla', sans-serif;
  color: white;
  margin-top: 10px;
}

#join:hover{
  background-color:#80ced6;
}

footer {
  position: fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:8px;
  text-align: center;
  z-index: 2;
  font-size: 11px;
}

.panel-default > .panel-heading-custom {
  background: #ff791f; color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 17px;

}

  .panel-default > .panel-heading-custom1 {
  background: #004d99; color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
}

  .panel-default > .panel-heading-custom2 {
  background: #ffcc00; color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 17px;
}

  .panel-default > .panel-heading-custom3 {
    background: #008060; color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 17px;
  }

  body{
    font-family: 'Libre Baskerville', serif;
  }

  .panel{
    box-shadow: 5px 5px 10px #CAC6C5;
  }

  .tag {
    background-color: #fff8d1;
  }

  .row{
    margin-bottom: 40px;
  }

  .body-content {
    margin-bottom: 50px;
  }

  #editor {
    height: 400px;
  }

  #contentErrorMsg {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

  #dueDateAndTags {
    padding-left: 0px;
  }

  #AddTagBtn {
    margin-top: 0px;
  }

  #addedTag {
    display: none;
  }

  #registerBtn {
    margin-left: 5px;
  }