h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  /* text-transform: uppercase; */
}

#header {
  position: relative;
  text-align: center;
}

#header img {
  /* width: 100%; */
}

#header h1 {
  font-size: 50px;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#page-header {
  margin-top: 100px;
}

.project-container {
  background: #eee;
  height: 300px;
}

.column {
  border-radius: 5px;
  padding: 10px;
}

.column--color-blue {
  background-color: #007bff;
}

.column--color-yellow {
  background-color: #ffc107;
}

.column--color-red {
  background-color: #dc3545;
}

.column--color-green {
  background-color: #28a745;
}

.task-category {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

.task-card {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
