@{
    ViewData["Title"] = "Home Page";
}

<div id="header">
  <img src="~/images/HomeHeader.jpg" alt="Project Management Image" />
  <h1><img src="~/images/arrowsicon.png" height="150px"/></h1>
</div>
<br />


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom3"><i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp; About</div>
            <div class="panel-body">
                <ul>
                    <li>Project Management is an online project management platform for groups.</li>
                    <li>With ProjectManagement, users can sign up for tasks, see what other users are working on, and ultimately complete projects with more synergy and efficiency.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom2"><i class="fa fa-users" aria-hidden="true"></i>
&nbsp;Projects</div>
            <div class="panel-body">
                <ul>
                    <li>Create new projects that users can join and contribute towards</li>
                    <li>As a user, sign up to contribute on projects by joining them, or simply view the progress of the group.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom1"><i class="fa fa-thumb-tack" aria-hidden="true"></i>&nbsp;Tasks</div>
            <div class="panel-body">
                <ul>
                    <li>Each project contains its own list of tasks. Users can check one of several statuses for the tasks including:</li>
                    <ul>
                        <li>Todo</li>
                        <li>In Progress</li>
                        <li>Stuck</li>
                        <li>Done</li>
                    </ul>
                    <li>When all tasks are finished, Project Management throws you a party.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"><i class="fa fa-commenting" aria-hidden="true"></i>
&nbsp;Forums: Coming Soon</div>
            <div class="panel-body">
                <ul>
                    <li>Users can discuss the project using Forums</li>
                    <li>Each new topic can be tagged so that threads of communication are easily searchable.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
