@{
  Layout = "_Layout";
}

<br><br><br>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="~/projects">Projects</a></li>
  <li role="presentation"><a href="~/explore">Explore</a></li>
  <li role="presentation"><a href="~/myprofile">My Profile</a></li>
</ul>
